
html body {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    word-spacing: 1px;
    border: 0;
    margin: 0;
    background-color: #454343;
}


header {
    display: flex;
    justify-content: space-between;
    border-bottom:  12px double #ffffff;
    padding: 8px;
    color: white;
    background: linear-gradient(45deg, #ffffff, #ff0000);
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}